/* Минималистичный сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #76c7c0;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

input, select, button {
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input:focus, button:focus, select:focus {
    outline: none;
    box-shadow: none;
}

button {
    background-color: #76c7c0;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #66b2ac;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}

/* Стили для всех разделов сайта */
.section {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#progress-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    display: none; /* Скрываем по умолчанию */
}

#progress-bar {
    width: 100%;
    height: 25px;
}

#progress-text {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
}

.section h2 {
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.1rem;
    color: #555;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
